.cart
  display: flex
  justify-content: center

  &__content
    display: flex
    flex-direction: column

    &__headings
      list-style: none
      display: flex

      &__heading

    &__item
      display: flex

      &__text
        display: flex
        flex-direction: column
