@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  padding: 0 calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left, .header__right {
  display: flex;
  align-items: center;
}

.header__form {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.header__form input {
  padding-left: 16px;
  padding-right: 16px;
  height: 38px;
  width: 300px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  outline: none;
}

.header__form button {
  font-family: "FontAwesome";
  font-size: 14px;
  color: #a4a4a4;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}

.header__form button:hover {
  background-color: rgba(230, 230, 230, 0.6);
  cursor: pointer;
}

/* BROWSE DROP DOWN************************************************************ */
.browse__dropdown__summary {
  text-transform: inherit;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  text-align: right;
  letter-spacing: 0.03em;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  background-color: rgba(230, 230, 230, 0.17);
  height: 38px;
  width: 87px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.browse__dropdown__summary::-webkit-details-marker {
  display: none;
}

.browse__dropdown__summary::after {
  content: "";
  font-family: "FontAwesome";
  padding-left: 0.5em;
  color: #838383;
}

.header__browse[open] > .browse__dropdown__summary::after {
  content: "";
  font-family: "FontAwesome";
}

.header__browse {
  position: relative;
}

.header__browse[open] .drop {
  display: flex;
  top: 37px;
  z-index: 1;
}

.menu__list {
  position: relative;
}

.menu__list:hover .drop {
  display: flex;
}

.drop {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 12px 20px;
  position: absolute;
  display: none;
  top: 51px;
  border: 1px solid #ececec;
}

.drop_last {
  right: 0;
}

.drop__flex {
  width: 234px;
  margin-right: 46px;
}

.drop__flex:last-of-type {
  margin-right: 0;
}

.drop__h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
}

.drop__ul {
  list-style-type: none;
}

.drop__link {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.drop__link:hover {
  color: #f16d7f;
}

/* END OF BROWSE DROP******************************************************** */
.header__cart {
  margin-right: 26px;
}

.header__right .button {
  display: flex;
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  color: white;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.header__right .button span {
  font-family: "FontAwesome";
  font-size: 14px;
  color: white;
  text-align: right;
}

.header__right .button:hover {
  background-color: rgba(241, 109, 127, 0.6);
}

.header__right .header__right__my-account {
  text-transform: inherit;
  margin: 0;
  outline: none;
  cursor: pointer;
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  font-size: 15px;
  color: white;
  display: flex;
}

.header__right__my-account__summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  align-self: center;
  margin-top: 7px;
  padding-bottom: 9px;
}

.header__right__my-account__summary::-webkit-details-marker {
  display: none;
}

.header__right__my-account__summary::after {
  content: "";
  font-family: "FontAwesome";
  padding-left: 0.5em;
  color: white;
}

.header__right__my-account[open] > .header__right__my-account__summary::after {
  content: "";
  font-family: "FontAwesome";
}

.header__right__my-account {
  position: relative;
}

.header__right__my-account[open] .header__right__my-account__drop {
  display: flex;
  top: 45px;
  left: -60px;
}

.header__right__my-account__drop {
  position: absolute;
  display: flex;
  height: 440px;
  width: 262px;
  background-color: white;
  border-radius: 5px;
  color: red;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.logo__img {
  margin-right: 13px;
}

.logo__letter {
  font-size: 27px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

/* NAVIGATION MENU*************************************************************** */
.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu__link {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
}

.menu__list:hover {
  border-bottom: 2px solid #f16d7f;
}

.index__menu .menu__list:nth-child(1) {
  border-bottom: 2px solid #f16d7f;
}

/* PROMO***********************************************************************  */
.promo {
  height: 614px;
  background-color: #e8e8e8;
  background-image: url(img/promo-back.png);
  background-position: center -51px;
  background-repeat: no-repeat;
  display: flex;
}

.promo__content {
  margin-top: 224px;
}

.promo__h1 {
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  text-align: left;
  letter-spacing: 0.03em;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  padding-bottom: 15px;
  line-height: 46px;
}

.promo__h2 {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  text-align: left;
  letter-spacing: 0.03em;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  line-height: 35px;
}

.promo__h2 span {
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
}

/* SPECIAL ACTIONS*************************************************************** */
.special__actions {
  display: flex;
  margin-top: 98px;
}

.special__right {
  margin-left: 21px;
}

.special__item {
  position: relative;
  margin-bottom: 21px;
}

.special__img {
  width: 560px;
}

.special__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 26px;
  height: 82px;
  background-color: white;
  text-align: left;
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 19px;
  padding-right: 19px;
}

.special__text span {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.special__text:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* FEATURED ITEMS************************************************************** */
.featured {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 1140px;
}

.featured__title {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.featured__items__container {
  display: flex;
  flex-wrap: wrap;
}

.featured__item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 23px;
  margin-bottom: 60px;
  position: relative;
}

.featured__item:hover .add__to__cart__link {
  display: flex;
}

.featured__item:hover .featured__img {
  filter: brightness(40%);
}

.featured__item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.featured__img {
  width: 261px;
}

.items__section__title {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
}

.items__section__lead {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  margin-bottom: 60px;
}

.add__to__cart__link {
  position: absolute;
  top: 97px;
  left: 70px;
  display: none;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  padding: 10px;
}

.add__to__cart__link:hover {
  background-color: rgba(34, 34, 36, 0.4);
}

.add__to__cart__link span {
  margin-left: 5px;
}

.item__name {
  font-size: 13px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  margin-top: 19px;
  margin-left: 8px;
}

.item__name a:hover {
  color: #f16d7f;
}

.item__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  text-transform: uppercase;
  margin-top: 19px;
  margin-left: 8px;
  margin-bottom: 20px;
}

.featured__button {
  height: 48px;
  width: 212px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.featured__button span {
  font-family: "FontAwesome";
  font-size: 15px;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 9px;
}

.featured__button:hover {
  background-color: rgba(241, 109, 127, 0.6);
}

/* OFFER*********************************************************************** */
.offer {
  display: flex;
  margin-top: 113px;
  margin-bottom: 97px;
  width: 1140px;
}

.offer__left {
  display: flex;
  position: relative;
}

.offer__left img {
  width: 767px;
}

.offer__text {
  position: absolute;
  top: 146px;
  left: 39px;
  font-size: 54px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.03em;
  line-height: 40px;
}

.offer__offer {
  font-size: 54px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
}

.offer__span {
  font-size: 32px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.03em;
}

.offer__right {
  display: flex;
  flex-direction: column;
  background-color: #222224;
  justify-content: space-around;
}

.offer__right__block {
  display: flex;
  margin-left: 31px;
}

.offer__right__text__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  margin-right: 25px;
}

.offer__right__title {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.offer__right__text {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  line-height: 24px;
}

/* SUBSCRIBE******************************************************************** */
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("img/fake-bg.png"), url("img/sub-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 438px;
  position: relative;
  margin-bottom: 123px;
  width: 1140px;
}

.subscribe__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__section__title {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  text-transform: uppercase;
}

.subscribe__section__tagline {
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-bottom: 35px;
}

.subscribe__form {
  display: flex;
}

.subscribe__form input {
  height: 46px;
  width: 282px;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
  border: none;
  font-size: 14px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 54px;
  padding-left: 28px;
  padding-right: 28px;
  outline: none;
}

.subscribe__form input:invalid {
  background-color: rgba(241, 109, 127, 0.6);
}

.subscribe__button {
  width: 104px;
  height: 46px;
  border-radius: 0px 23px 23px 0px;
  background-color: #f16d7f;
  font-size: 14px;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
}

.subscribe__button:hover {
  background-color: rgba(241, 109, 127, 0.6);
}

.quote {
  display: flex;
}

.quote__wrapper {
  display: flex;
  flex-direction: column;
  width: 426px;
  margin-left: 27px;
}

.quote__text {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 26px;
  margin-bottom: 15px;
}

.quote__author {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.quote__status {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin-bottom: 41px;
}

.pagination__block img {
  margin-right: 13px;
  padding-bottom: 10px;
}

/* FOOTER MENU******************************************************************** */
.down__menu {
  display: flex;
  margin-bottom: 80px;
}

.down__menu__description {
  display: flex;
  flex-direction: column;
  margin-right: 61px;
}

.down__menu__list__wrapper {
  display: flex;
}

.down__menu__list ul {
  margin-right: 120px;
}

.down__menu__list__wrapper .last__list ul {
  margin-right: 0;
}

.down__menu__list ul li {
  margin-bottom: 30px;
  list-style: none;
  font-size: 16px;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  /* line-height: 59px */
  width: 150px;
}

.down__menu__list ul li:first-child {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  /* line-height: 26px */
}

.down__menu__list ul li a {
  color: #898989;
}

.down__menu__list ul li a:hover {
  color: #f16d7f;
}

.description__text {
  width: 430px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-top: 22px;
}

/* FOOTER********************************************************************** */
.footer {
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyr {
  font-size: 16px;
  color: #7a7a7a;
  text-align: right;
  letter-spacing: 0.03em;
}

.social__wrapper {
  display: flex;
}

.social__wrapper a {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: white;
  font-family: "FontAwesome";
  font-size: 16px;
  color: #b2b2b2;
  text-align: right;
}

.social__wrapper a:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

/* CATALOG PAGE******************************************************************/
/********************************************************************************/
.catalog__menu .menu__list:nth-child(2) {
  border-bottom: 2px solid #f16d7f;
}

.catalog {
  display: flex;
}

.catalog__items__container {
  width: 855px;
}

/* BREADCRUMBS*************************************************************** */
.breadcrumb {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f3f4;
}

.breadcrumb__title {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumb__list {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
}

.breadcrumb__list li {
  padding: 0px 2px 0px 4px;
}

.breadcrumb__list li:last-child a {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

/* SIDEBAR********************************************************************** */
.sidebar {
  margin-top: 90px;
  width: 243px;
  margin-right: 60px;
}

.category__group summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  height: 37px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
  padding-left: 11px;
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.category__group summary::-webkit-details-marker {
  display: none;
}

.category__group summary::after {
  content: "\25B6";
  padding-left: 0.5em;
}

details[open] > summary::after {
  content: "\25BC";
}

.category__group li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6f6e6e;
  /* line-height: 33px */
  padding-left: 16px;
}

.category__group li:hover {
  color: #f16d7f;
}

/* CATALOG FILTER************************************************************ */
.filter {
  display: flex;
  flex-direction: column;
  height: 165px;
  margin-bottom: 47px;
}

.filter__container {
  display: flex;
  height: 165px;
}

.filter__trending {
  height: 74px;
  width: 200px;
  margin-right: 80px;
}

.filter__trending__title {
  display: block;
  font-family: "Lato";
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.filter__trending__wrapper {
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}

.filter__trending__item a {
  font-family: "Lato";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}

.filter__trending__item a:hover {
  color: #f16d7f;
}

.filter__trending__item {
  margin: 0px 12px 0px 0px;
}

.filter__size {
  display: flex;
  height: 73px;
  width: 240px;
  flex-wrap: wrap;
  margin-right: 45px;
}

.filter__size span {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.filter__size__boxes {
  display: flex;
  flex-wrap: wrap;
}

.filter__size__box {
  display: flex;
  align-items: center;
  margin-right: 23px;
  margin-bottom: 14px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

.filter__size input {
  margin-right: 9px;
  cursor: pointer;
}

/* CHECKBOX STYLING */
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.checkbox + label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #ebebeb;
  /* border-radius: 13px */
  background: white;
  /* box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2) */
  transition: 0.2s;
}

/* .checkbox + label:after
 content: ""
  position: absolute
  top: -2px
  left: 2px
  width: 22px
  height: 22px
  border-radius: 10px
  background: #fff
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
  transition: 0.2s
 */
.checkbox:checked + label:before {
  background: #f16d7f;
}

.checkbox:checked + label:after {
  left: 26px;
}

/* .checkbox:focus + label:before
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 0 0 3px rgba(255, 255, 0, 0.7)
 */
/* PRICE FILTER**************************************************************** */
.filter__price {
  display: flex;
  flex-direction: column;
  height: 73px;
  width: 263px;
}

.filter__price span {
  font-family: "Lato";
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.filter__price__container {
  display: flex;
}

.filter__price__container form input {
  width: 136px;
  height: 20px;
  margin: 0;
  outline: none;
}

.output1 {
  font-family: "Open Sans";
  font-size: 14px;
  color: #6f6e6e;
  font-weight: bold;
  line-height: 26px;
}

.output2 {
  font-family: "Open Sans";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  font-weight: bold;
  margin-left: 1px;
}

.dollar__span {
  margin-left: 100px;
}

/* FILTER BOTTOM*************************************************************** */
.filter__bottom {
  display: flex;
  align-items: center;
  height: 70px;
  width: 846px;
  background-color: #f3f3f3;
  font-family: "Lato";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}

.filter__bottom__sort, .filter__bottom__show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: white;
  border: 1px solid #ebebeb;
  padding: 0px 13px 0px 13px;
  margin-left: 10px;
  font-weight: bold;
}

#sort,
#show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: white;
  border: 1px solid #ebebeb;
  font-family: "Lato";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  font-weight: bold;
  outline: none;
  padding-left: 9px;
  cursor: pointer;
}

#sort option,
#show option {
  font-family: "Lato";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  font-weight: bold;
  outline: none;
  padding-left: 9px;
}

#sort {
  width: 85px;
}

#show {
  width: 60px;
}

/* BOTTOM NAV****************************************************************** */
.catalog__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 110px;
}

.catalog__bottom__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 0 16px 0 16px;
}

.catalog__bottom__counter__list,
.catalog__bottom__counter__list a {
  list-style: none;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #c4c4c4;
}

.catalog__bottom__counter__list a:hover {
  color: #f16d7f;
}

.catalog__bottom__counter__list li {
  padding: 0px 16px 4px 0px;
}

.catalog__bottom__counter__list li:first-child a {
  color: #f16d7f;
}

.catalog__bottom__counter__list li:nth-child(6),
.catalog__bottom__counter__list li:last-child {
  padding-right: 0px;
}

.catalog__bottom__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 150px;
  font-size: 16px;
  font-weight: 300;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 3px;
}

.catalog__bottom__button:hover {
  background-color: rgba(239, 91, 112, 0.6);
  color: black;
}

.catalog__nav__left a {
  font-family: "FontAwesome";
  font-size: 16px;
  color: #aaaaaa;
  padding-right: 16px;
}

.catalog__nav__right a {
  font-family: "FontAwesome";
  font-size: 16px;
  color: #f16d7f;
  padding-left: 16px;
}

/* ADVANTAGES***************************************************************** */
.advantages {
  display: flex;
  background-color: #222224;
  justify-content: space-around;
  height: 341px;
}

.advantages__right__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 31px;
}

.advantages__right__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 32px;
}

.advantages__right__text {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-align: center;
}

/* SINGLE ITEM PAGE*********************************************************** */
/* SLIDER********************************************************************** */
.item__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 777px;
  background-color: #f7f7f7;
}

.item__pag__left,
.item__pag__right {
  display: flex;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  justify-content: center;
  align-items: center;
}

.item__pag__left a,
.item__pag__right a {
  font-family: "FontAwesome";
  font-size: -24px;
  color: white;
  line-height: -24px;
  padding: 10px;
}

.item__pag__left a:hover,
.item__pag__right a:hover {
  color: #f16d7f;
}

/* MAIN ITEM INFO************************************************************* */
.item__main__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.main__content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1140px;
  border: 1px solid #eaeaea;
  background-color: white;
}

.item__collection__name {
  font-family: "Lato";
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  padding-bottom: 14px;
  position: relative;
}

.red__rectangle {
  display: flex;
  height: 5px;
  width: 63px;
  background-color: #f16d7f;
  position: absolute;
  top: 29px;
}

.item__title {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 67px;
}

.span__item__text {
  width: 625px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  line-height: 24px;
}

.item__specs {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 32px 0 32px 0;
}

.item__material,
.item__designer {
  font-family: "Lato";
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  text-align: center;
  line-height: 24px;
  margin-right: 44px;
}

.item__material span,
.item__designer span {
  font-family: "Lato";
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  text-align: center;
  line-height: 24px;
}

.item__price__main {
  display: flex;
  justify-content: center;
  width: 642px;
  font-family: "Lato";
  font-size: 24px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 24px;
  padding-bottom: 43px;
  border-bottom: 1px solid #eaeaea;
}

.item__filter {
  display: flex;
  justify-content: space-around;
  margin-top: 63px;
  width: 625px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  text-align: center;
  line-height: 24px;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.choose span {
  display: flex;
  margin-bottom: 16px;
}

.choose select {
  height: 35px;
  width: 130px;
  border: 1px solid #eaeaea;
  padding-left: 15px;
  font-family: "Lato";
  font-size: 13px;
  color: #bcbcbc;
  text-align: center;
  line-height: 24px;
  outline: none;
  cursor: pointer;
}

.choose input {
  height: 35px;
  width: 130px;
  border: 1px solid #eaeaea;
  padding-left: 15px;
  font-family: "Lato";
  font-size: 13px;
  color: #bcbcbc;
  text-align: left;
  line-height: 24px;
  outline: none;
}

.choose input::placeholder {
  font-family: "Lato";
  font-size: 13px;
  color: #bcbcbc;
}

.choose select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("img/2565.png") 90%/10% no-repeat;
}

.item__add__button {
  height: 55px;
  width: 537px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  margin-top: 28px;
  margin-bottom: 122px;
}

.item__add__button:hover {
  background-color: #f16d7f;
  color: white;
}

.item__add__button img {
  margin-right: 15px;
}

/* YOU MAY ALSO LIKE********************************************************** */
.single__item__item {
  width: 100%;
}

.single__item__item__title {
  align-self: center;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.cart {
  display: flex;
  justify-content: center;
}

.cart__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 90px;
}

.cart__content__headings {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.cart__content__headings li:first-child {
  margin-right: 320px;
}

.cart__content__headings__heading {
  font-family: 'Lato';
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.cart__content__item {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 30px;
}

.cart__content__item img {
  margin-right: 21px;
}

.cart__content__item img:hover {
  filter: brightness(90%);
}

.cart__content__item__text {
  display: flex;
  flex-direction: column;
}

.cart__content__item__text__title {
  font-family: 'Lato';
  font-size: 13px;
  color: #222222;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.cart__content__item__text__title a:hover {
  color: #f16d7f;
}

.cart__content__item__text__color, .cart__content__item__text__size {
  font-family: 'Lato';
  font-size: 13px;
  color: #575757;
  line-height: 20px;
}

.cart__content__item__text__color span, .cart__content__item__text__size span {
  font-weight: 300;
  color: #6f6e6e;
  margin-left: 5px;
}

.cart__content__item__price {
  font-family: 'Lato';
  font-size: 13px;
  color: #656565;
  line-height: 20px;
  margin-left: 255px;
}

.cart__content__item__quantity {
  height: 30px;
  width: 54px;
  font-family: 'Lato';
  font-size: 13px;
  color: #656565;
  line-height: 20px;
  text-align: center;
  margin-left: 110px;
}

.cart__content__item__shipping {
  font-family: 'Lato';
  font-size: 13px;
  color: #656565;
  line-height: 20px;
  margin-left: 90px;
}

.cart__content__item__subtotal {
  font-family: 'Lato';
  font-size: 13px;
  color: #656565;
  line-height: 20px;
  margin-left: 120px;
}

.cart__content__item__action {
  font-family: 'FontAwesome';
  font-size: 16px;
  color: silver;
  text-align: right;
  text-transform: uppercase;
  margin-left: 110px;
}

.cart__content__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 63px;
}

.cart__content__buttons__button, .cart__content__inputs__checkout button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 235px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
}

.cart__content__buttons a:hover {
  background-color: #f16d7f;
  color: white;
}

.cart__content__inputs {
  display: flex;
  margin-bottom: 80px;
}

.cart__content__inputs__adress, .cart__content__inputs__coupon, .cart__content__inputs__checkout {
  display: flex;
  flex-direction: column;
}

.cart__content__inputs__adress__title, .cart__content__inputs__coupon__title {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cart__content__inputs__adress select, .cart__content__inputs__coupon select, .cart__content__inputs__checkout select {
  display: flex;
  height: 45px;
  width: 355px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 300;
  color: #222222;
  padding-left: 10px;
  outline: none;
  margin-bottom: 20px;
  background-color: white;
}

.cart__content__inputs__adress select option, .cart__content__inputs__coupon select option, .cart__content__inputs__checkout select option {
  font-size: 25px;
}

.cart__content__inputs__adress .state, .cart__content__inputs__coupon .state, .cart__content__inputs__checkout .state {
  display: flex;
  height: 45px;
  width: 335px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 15px;
  outline: none;
  margin-bottom: 20px;
}

.cart__content__inputs__adress .postcode, .cart__content__inputs__coupon .postcode, .cart__content__inputs__checkout .postcode {
  display: flex;
  height: 45px;
  width: 335px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 15px;
  outline: none;
  margin-bottom: 20px;
}

.cart__content__inputs__adress__button {
  height: 35px;
  width: 100px;
  font-family: 'Lato';
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #eaeaea;
  cursor: pointer;
  outline: none;
}

.cart__content__inputs__adress button:hover, .cart__content__inputs__coupon button:hover, .cart__content__inputs__checkout button:hover {
  background-color: #f16d7f;
  color: white;
}

.cart__content__inputs__coupon, .cart__content__inputs__checkout {
  margin-left: 36px;
}

.cart__content__inputs__coupon__lead {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 300;
  color: black;
  margin-bottom: 20px;
}

.cart__content__inputs__checkout {
  height: 134px;
  width: 280px;
  background-color: #f5f3f3;
  align-items: flex-end;
  padding: 40px;
}

.cart__content__inputs__checkout__sub-total {
  font-family: 'Lato';
  font-size: 11px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cart__content__inputs__checkout__sub-total span {
  margin-left: 20px;
}

.cart__content__inputs__checkout__grand-total {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  text-align: right;
  width: 235px;
}

.cart__content__inputs__checkout__grand-total span {
  font-weight: bold;
  color: #f16d7f;
  margin-left: 20px;
}

.cart__content__inputs__checkout button {
  color: white;
  background-color: #f16d7f;
  margin-top: 20px;
  cursor: pointer;
}

.cart__content__inputs__checkout button:hover {
  color: black;
  background-color: white;
}
